.next/
.turbo/
_next/
__tmp__/
dist/
node_modules/
target/
compiled/
deployment/

package-lock.json
next.config.js
next-env.d.ts
tsconfig.json

packages/next/src/bundles/webpack/packages/*.runtime.js
packages/next/src/bundles/webpack/packages/lazy-compilation-*.js
