.next/
.turbo/
_next/
__tmp__/
dist/
node_modules/
target/
compiled/
/deploy
*.yml
*.yaml

package-lock.json
/.idea
/.git
/.gitignore

packages/next/src/bundles/webpack/packages/*.runtime.js
packages/next/src/bundles/webpack/packages/lazy-compilation-*.js
